/* ALL ELEMENT */

* {
  text-align: center;
  box-sizing: border-box;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

.none {
  display: none;
}

.hidden {
  visibility: hidden;
}

/* FONTS */
@font-face {
  font-family: "BlackWidow";
  src: local("BlackWidowMovie"),
    url("./fonts/BlackWidowMovie-d95Rg.ttf") format("truetype");
}

@font-face {
  font-family: "AvengeanceNormal";
  src: local("AvengeanceNormal"),
    url("./fonts/AvengeanceHeroicAvengerNormal-Bz7d.ttf") format("truetype");
}

@font-face {
  font-family: "AvengeanceRegular";
  src: local("AvengeanceRegular"),
    url("./fonts/AvengeanceMightiestAvenger-837g.ttf") format("truetype");
}

/* HEADER */

header {
  height: 100px;
  background-color: #141414;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 30;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .div-buttons {
  display: flex;
  gap: 20px;
}

header img {
  height: 60px;
}

/* SEARCH BAR */

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  margin: 0 10px;
}

.search-bar input {
  height: 30px;
  border-radius: 5px;
  width: 500px;
  background-color: #ee291f;
  border: none;
}

.search-bar input::placeholder {
  color: white;
  text-align: center;
  padding-left: 10px;
}

.search-bar input:focus {
  outline: none;
}

/* BUTTONS PAGE */

.button-settings {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.button-page {
  background-color: #141414;
  color: white;
  border: 1px solid #ee291f;
  height: 30px;
  width: 150px;
  font-family: "BlackWidow";
  border-radius: 5px;
  font-size: 18px;
}

.button-page:hover {
  background-color: #ee291f;
  transition: 0.7s;
  box-shadow: 0 3px 8px 0 #ee291f, 0 17px 50px 0 #ee291f;
}
.button-page2 {
  background-color: #ee291f;
  color: white;
  border: none;
  height: 30px;
  width: 150px;
  font-family: "BlackWidow";
  border-radius: 5px;
  font-size: 16px;
}

.button-page2:hover {
  background-color: #ee291f;
  transition: 0.7s;
  box-shadow: 0 3px 8px 0 #ee291f, 0 17px 50px 0 #ee291f;
}

.current-page {
  color: #ee291f;
  font-family: "BlackWidow";
}

/* HOME PAGE  */

.marvel-bg {
  height: 84vh;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.section-404 {
  height: 84vh;
}

.section-404 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* SIGN UP */

.signup-section {
  display: flex;
  justify-content: center;
}

.signup-section input {
  display: flex;
  justify-content: center;
  width: 100%;
}

/* COMICS SECTION */

.section-comics {
  /* border: 1px green solid; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
}

.wrap-section-comics {
  border: 2px black solid;
  border-radius: 5px;
}

.comic-card {
  width: 200px;
  /* border: 1px solid red; */
}

.comic-card img {
  width: 100%;
}

.top-card-section {
  background-color: #141414;
  height: 20px;
  display: flex;
  justify-content: flex-end;
}

.heart-favorite {
  position: absolute;
  color: white;
  margin-right: 10px;
  margin-top: 5px;
}

/* CHARACTER STICKER WITH COMICS */
.character-list-comics {
  display: flex;
  flex-wrap: wrap;
}

/* CHARACTERS PAGE */
.section-characters {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.sticker-characters {
  width: 200px;
  height: 320px;
  background-color: #141414;
  border-radius: 5px;
  box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
}

.sticker-characters img {
  width: 100%;
}

.sticker-characters h3 {
  color: white;
  font-family: "BlackWidow";
  font-size: 22px;
  margin-top: 5px;
  margin-bottom: 12px;
  height: 40px;
}

.sticker-characters p {
  font-family: "AvengeanceRegular";
  color: white;
  overflow: hidden;
  font-size: 12px;
  padding: 0 2px;
  height: 35px;
}

.top-card-characters {
  background-color: #141414;
  height: 25px;
  display: flex;
  justify-content: flex-end;
  border-radius: 5px;
}

.link-characters {
  text-decoration: none;
}

/* FAVORITES */

.section-favorites {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

/* FOOTER */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: #141414;
}

footer p {
  color: #141414;
  font-family: "AvengeanceRegular";
  font-weight: normal;
}

footer p:hover {
  color: white;
  font-family: "AvengeanceRegular";
  font-weight: normal;
}
